<!-- <body>
    <div class="container">
      <div class="form-group">
  
        <h1>Feedback</h1>
        <form  #data="ngForm">
          <div class="form-group">
            <label>Feedback</label>
            <input class="form-control" type="text" name="feedbackBox" [(ngModel)]="feedback" #uEmail="ngModel" required />
             <span class="help-block" *ngIf="!uEmail.valid && uEmail.touched">please enter valid email!</span> -->
          <!-- </div>
          <br /> -->
  
          <!-- <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="passwordBox" [(ngModel)]="password" required />
          </div>
          <br /> -->
  
          
          <!-- <br />
          <button type="submit" class="btn btn-success" (click)="addFeedback()" [disabled]=!data.valid>Register</button>
          <button type="cancel" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </form>
      </div>
    </div> --> 